@model IEnumerable<WebApplication16.Models.Seminari>

@{
    ViewBag.Title = "Index";
}




<body style="background:url(/content/pozadina.jpg);  background-size: 100% 106%; background-repeat: no-repeat;">






    <font color="white">
        <center><h1>DOBRODOŠLI NA STRANICU OBRAZOVANJA</h1></center>

        <center><h2>Provjerite ponudu seminara ispod</h2></center>

        </br>
        </br>
        </br>
        </br>

        <h2>Seminari</h2>

        </br>
        </br>
        </br>


        <p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Dodaj seminar", "Create", null, new { style = "color: Red" })
            }
        </p>
        <h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naziv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Datum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Popunjen)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Opis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Popunjen)
                        </td>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <td>
                                @Html.ActionLink("Uredi", "Edit", new { id = item.IdSeminar }, new { style = "color: red;" }) |
                                @Html.ActionLink("Detalji", "Details", new { id = item.IdSeminar }, new { style = "color: red;" }) |
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.IdSeminar }, new { style = "color: red;" })
                            </td>
                        }
                    </tr>
                }

            </table>
        </h4>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>


        <center><h1><a href="~/Predbiljezbe/Create" style="color:darkorange">Predbilježi se</a></h1></center>

    </font>

</body>
